.sidebar-list-item {
  display: flex;
  padding: 1rem 0;
  height: 150px;
}
.sidebar-list-item:hover {
  transform: scale(1.015);
  transition-duration: 150ms;
  cursor: pointer;
}
.sidebar-list-item__img {
  width: 50%;
  margin-right: 5px;
}
.sidebar-list-item__desc {
  width: 50%;
}
